.slideer {
  width: 250px;
  height: 220px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  box-shadow: 5px 0 0 0 rgb(255, 217, 0);
}

.slidees {
  display: flex;
  transition: transform 0.5s ease;
}

.slidees img {
  width: 250px;
  height: 220px;
  border-radius: 50%;
}

@media (min-width: 375px) and (max-width: 991px) {
  .slideer {
      margin: auto; 
  }
}

@media (min-width: 992px) {
  .slideer {
      margin-left: 50px; 
  }
}
